<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAFrrw19Tf3IBB8fwR6zLR5bwOreBe5_L0</string>
	<key>GCM_SENDER_ID</key>
	<string>447740745490</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.learningApp</string>
	<key>PROJECT_ID</key>
	<string>learningapp-4777a</string>
	<key>STORAGE_BUCKET</key>
	<string>learningapp-4777a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:447740745490:ios:83f76866e815e0c33705cb</string>
</dict>
</plist>